<div id="render" data-render="<%= @page %>"></div>

<div class="me-section">
  <%= render 'layouts/me' %>
</div>

<div class="projects-section hidden">
  <%= render 'layouts/projects' %>
</div>

<div class="contact-section hidden">
  <%= render 'layouts/contact' %>
</div>
